@media (min-width: 800px) and (max-width: 1320px){
    .wrap{
        margin-top: -400px;
        width: 660px;
    }
    .block{
        margin: 50px 25px;
    }
}

@media (min-width: 677px) and (max-width: 799px) {
    .wrap{
        margin-top: -400px;
        width: 660px;
    }
    .block{
        margin: 50px 25px;
    }
    .nav{
        margin: 20px auto 0px auto;
        max-width: 105px;
    }
    .button{
        font-size: 34px;
        margin: 8px 5px;
        float: left;
    }
    .menu{
        height: 286px;
    }
}

@media (max-width: 676px){
    .wrap{
        margin-top: -375px;
        width: 654px;
    }
    .block{
        margin: 50px 25px;
    }
    .nav{
        margin: 20px auto 0px auto;
        max-width: 105px;
    }
    .button{
        font-size: 34px;
        margin: 8px 5px;
        float: left;
    }
    .menu{
        height: 328px;
    }
}