body{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}

.menu{
    height: 70px;
    background: rgb(255, 255, 255);
    background: -moz-linera-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    padding: 15px 50px;
}
.menu-left{
    float: left;
    font-size: 18px;
    font-weight: 800;
    margin-top: 20px;
}
.nav{
    margin: 20px auto 0px auto;
    max-width: 600px;
}
.button{
    color: rgb(201, 44, 44);
    font-size: 20px;
    padding: 5px 20px;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    
    text-decoration: none;
    margin: 0px 5px;
}
img{
    float: right;
    width: 100px;
    height: auto;
}
.content1{
    height: 700px;
    background-image: url("../images/first.png");
    background-position: 50% 14%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

.banner1{
    margin-top: 200px;
    margin-left: 5%;
    max-width: 400px;
    background: #fff;
    border: 3px solid red;
    
    -moz-border-radius-topleft: 55px;
    -webkit-border-top-left-radius: 55px;
    border-top-left-radius: 55px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 55px;
    -webkit-border-bottom-right-radius: 55px;
    border-bottom-right-radius: 55px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(255, 255, 255, 0.71);
    padding: 10px;
}
.banner1-h3{
    font-size: 40px;
}
.banner1-p{
    font-size: 25px;
    text-align: center;
}

.flag-b{
    height: 80px;
    background: #000;
}
.flag-r{
    height: 80px;
    background: red;
}
.flag-y{
    height: 80px;
    background: yellow;
}

.content2{
    height: 700px;
    background-image: url("../images/second.png");
    background-position: 50% 14%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

.block{
    width: 250px;
    height: 340px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(114, 114, 114) 100%);
    padding: 40px 15px 15px 15px;
    border-radius: 10px;
    
    text-align: center;
    
    float: left;
    margin: 0px 25px;
}

.button2{
    color: rgb(201, 44, 44);
    font-size: 20px;
    padding: 15px 15px;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    
    text-decoration: none;
    margin: 0px auto;
    
}

.wrap{
    margin: -300px auto;
    width:  1320px;
}

.banner2{
    margin-top: 500px;
    margin-left: 5%;
    max-width: 600px;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 100%;
    padding: 1px;
}
.banner2-p{
    margin: 45% 0px 0px 30px;
}

.footer{
    height: 150px;
    background: #000;
    color: #fff;
    padding-top: 20px;
}
.footer-p-r{
    float: right;
}